section.main
    .container
        h2.main__title About me
        .main__content
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit numquam iure, cumque dolores est delectus iste obcaecati, consectetur quia earum velit quaerat, blanditiis amet aspernatur nam? Fuga incidunt unde temporibus!
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam inventore placeat ipsum, asperiores iure magnam consequuntur facilis voluptatibus dolor fuga? Molestias dolore eligendi amet, repudiandae ipsam quidem architecto quo nam.
